html, body
  
body
  margin: 0 auto
  font-size: 20px
  user-select: none
  display: flex
  flex-direction: column
  height: 100%
  overflow: none
  cursor: pointer
  font-size: Roboto
  font-weight: normal
  color: #C2C2C2
.header
  height: 90px
.fixed-header
  position: fixed
  width: 100%
  z-index: 100
.fixed-footer
  position: fixed
  width: 100%
  z-index: 100
  left: 0 
  bottom: 0
.blue
  background: #3294D5  
.scrollable
  height: auto
  flex-grow: 1
  overflow-y: none
.content-relative
  overflow: hidden
main
  padding: 100px 30px
.ant-layout
  background: #fff