<div class="counter_block">
  <div class="dec_button"><span class="dec">{{dec}}</span></div>
  <div class="counter"><span class="counter_numb">{{counter}}</span></div>
  <div class="inc_button"><span class="inc">{{enc}}</span></div>
</div>