@import '../../../../../constants/style/colors.sass'
.form-employee
  padding: 5%
  box-shadow:  0 0 10px  #EEE8E8 
.form-title
  font-size: 1.2em
  color: $blue
  font-weight: 100
.button-green
  background:  $green
.checkbox
  color: $blue
.errorText
  color: $red
.input-no-valid
 border: 1px solid $red
 &:hover,&:target,&:focus
  border: 1px solid $red
 &:focus
  border-color: #EE9D9D
  border-right-width: 1px 
  outline: 0
  -webkit-box-shadow: 0 0 0 2px #EE9D9D
  box-shadow: 0 0 0 2px #FDDFDF